@{
    ViewBag.Title = "GET IN TOUCH";
}

<link rel="stylesheet" href="~/Content/font-awesome.css" />
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <address>
        EventUp<br />
        Esplanade 10<br />
        85049 Ingolstadt<br />
        <abbr title="Phone">Tel:</abbr>
        15252465489<br />
        <abbr title="Email"><strong>Email:</strong></abbr>
        <a href="mailto:info@EventUp.com">info@EventUp.com</a><br />
    </address>

    <div class="social-icons-container">
        <a href="https://www.facebook.com/EventUp" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/EventUp" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/EventUp" target="_blank">
            <i class="fa fa-linkedin-square"></i>
        </a>
        <a href="https://www.youtube.com/EventUp" target="_blank">
            <i class="fa fa-youtube-square"></i>
        </a>
    </div>


</main>