<main>
    <section class="row" aria-labelledby="aspnetTitle">

        <h1 id="title" class="custom-heading">
            <span class="bold-text">Welcome to EventUp</span> <br>
            <span class="cursive-text">The Complete Solution for Your Events!</span>
        </h1>

        <br />
        <p class="paragraph">Discover the easiest and most exciting way to plan your events. With EventUp, gone are the days when organizing an event or hiring a specialist felt tedious. Now, you can do it all yourself with a few simple clicks.</p>
        <br />
        <span class="questions-content1">Why choose us? </span> <br>
        <br />
        <!--<div class="column" style="background-image: url('/Content/Images/img.png');">-->
        <div class="column" style="background-color: #fffcef; ">
            <h2 class="column-title">Unmatched Ease</h2>
            <p class="column-content">Our intuitive interface effortlessly guides you through the planning process, from the initial idea to the execution of the event. Say goodbye to tedious planning – EventUp makes it a breeze!</p>
        </div>

        <div class="column" style="background-color: #fffcef; ">
            <h2 class="column-title">Variety of Services</h2>
            <p class="column-content">Need a unique venue, exquisite catering, or top-notch entertainment? We have a wide range of services to meet all your wants and needs. No more searching endlessly; find everything you need in one place.</p>
        </div>

        <div class="column" style="background-color: #fffcef; ">
            <h2 class="column-title">Direct Connection</h2>
            <p class="column-content">Connect directly with reliable service providers. EventUp makes communication easy, ensuring you get exactly what you desire without the hassle.</p>
        </div>


        <span class="questions-content2">Are you an event service provider? </span> <br>

        <p class="paragraph">
            Join EventUp and expand your reach. Become the preferred choice for those looking to plan the best events.
        </p>

        <p><a href="https://asp.net" class="btn btn-primary btn-md">Sign up here </a></p>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>