/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.custom-heading {
    text-align: left;
    font-family: 'Tahoma', cursive; /* Usando Tahoma */
    margin-top: 20px; /* Ajusta según sea necesario */
}

.bold-text {
    font-weight: bold;
}

.cursive-text {
    font-family: 'Tahoma', cursive; /* Puedes usar la misma fuente cursiva o elegir otra */
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: 10px;
    background-size: cover;
    color: #fcfcfc;
}

    .column:last-child {
        margin-right: 0; /* Elimina el margen derecho de la última columna */
    }

.column-title {
    font-weight: bold;
    text-align: center;
    font-family: 'Tahoma', cursive;
    font-size: 24px;
}

.column-content {
    margin-top: 10px;
    font-family: 'Tahoma', cursive;
    font-size: 20px;
}

.questions-content1 {
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Tahoma', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.questions-content2 {
    font-weight: bold;
    font-family: 'Tahoma', cursive;
    font-size: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.paragraph {
    font-family: 'Tahoma', cursive;
    font-size: 22px;
}

.button {
    font-family: 'Tahoma', cursive;
    background-color: #632033; /* Color de fondo del botón */
    color: bisque; /* Color del texto del botón */
    border: none; /* Quitado el borde del botón */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; /* Bordes redondeados del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
}

.social-icons-container a i {
    color: black;
    font-size: 40px; /* Puedes ajustar el tamaño según tus preferencias */
    margin-right: 20px; /* Ajusta el espacio entre los iconos si es necesario */
}

.btn-primary {
    background-color: #CD5C5C !important;
    color: white !important;
    text-align: center !important;
    border-radius: 10px !important;
    text-decoration: none !important;
    display: inline-block !important;
    border: none !important;
    /* Agrega otras propiedades según sea necesario */
}